.container {
    width: 95%;
    border-bottom: 1px solid #EAEAEA;
}

.input {
    padding: 1%;
    border: 1px solid #000000;
    border-radius: 20px;
}

.btn {
    margin: 1%;
    border: 1px solid #000000;
    border-radius: 20px;
}

.otherdata {
    padding: 2%;
    margin-bottom: 1%;
}

.weather {
    margin-right: 5%;
}
